*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{display: flex;}

.left1{
    width: 400px;
    height: 100vh;
    background-color: rgb(39,49,55);
    color: white;
}

.left1 h5{
    padding-top: 100px;
    margin-left: 50px;
}
.left1 h4{
    margin-left: 30px;  
}

.left1 img{
    width: 50px;
    height: 50px;
}

.pie{
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
}

.about{
    padding-top: 90px;
    padding-left: 50px;
}
.middle1{
    width: 600px;
    height: 70vh;
    background-color: rgb(255,221,132);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right1{
    width: 400px;
    height: 100vh;
    background-color: rgb(39,49,55);
    color: white;
}
.buttons-nav{
    display: flex;
    width: 400px;
    height: 40px;
    /* margin-top: 20px; */
    /* background-color: aqua; */
    justify-content: center;
    margin-bottom:200px ;
    /* justify-content: space-around; */
}
/* .black {
    width:60px;
    background-color:red;
    height: 50px;
} */
.buttons-nav button{
    border-radius: 10px;
    width: 80px;
    /* margin-left: 200px;  */ 
    margin-top: 150px;
   height:30px ;

}
.middle1 h1{
    text-align: center;
     /* padding-top: 100px;
    padding-right: 100px; */
    /* margin-bottom:50px ; */
    position: relative;
 
}
.head{
width: 300px;
height: 150px;
/* background-color: rgb(0, 255, 98); */
margin-bottom:280px ;

}

.circle1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 50px;
}

.circle2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 50px;
    text-align: center;
}

.circle1 h4{
    text-align: center;
    padding-top: 110px;

}
.text{
    text-align: center;
    padding-top: 100px;
}

.lastbox{
    /* padding-top: 200px; */
    width: 400px;
    height: 215px;
border: 1px solid white;
margin-top:34px;


}

.lastbox img{
    position: absolute;
    right: 0;
    bottom: 0;
    
}

.middle-last{
    width: 600px;
    height: 195px;
    background-color: blue;
    /* position: relative;; */
 
}

.biox1 img{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom:  20px;
    margin-bottom: 30px;
    margin-left: 60;
 
    
    
    /* bottom: 9;
    /* : -4; */
    /* left: 2; */ 
     /* z-index:20px ; */
}
 .ct{
width: 250px;
height: 250px;
background-color: rgb(248, 250, 247);
position: relative;
z-index: 50;


} 
    /* .ct h2{
        /* margin-top: 100px; */
    } */

.mount{
    height: 180px;
    margin-left: -80px;
margin-top: -50px;
    z-index: -1;
}
/* .biox1{
    z-index:20px ;
} */